[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.6"

[packages]
jupyter = "*"
"flake8" = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
